parameters:
    checkGenericClassInNonGenericObjectType: false
    level: 8
    tmpDir: %rootDir%/../../../var/tmp/phpstan
    paths:
        - src
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: %rootDir%/../../../build/console-loader.php
    scanDirectories:
        - %rootDir%/../../../var/cache/dev/Symfony/Config

